@model Nøsted.Models.ArbeidsDokumentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArbeidsDokumentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registrert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registrert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bestilling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bestilling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KundeInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KundeInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvtaltLevering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvtaltLevering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProduktMotatt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProduktMotatt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvtaltFerdigstillelse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvtaltFerdigstillelse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceFerdig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceFerdig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntallTimer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntallTimer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdreID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
