@model Nøsted.Models.OrdreViewModel

@{
    ViewData["Title"] = "Delete";
}
<body class="text-font">
<h1>Slett ordre</h1>

<h3>Er du sikker at du vil slette ordren?</h3>
<div>

    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdreNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gjelder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gjelder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Epost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Epost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registrert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registrert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bestilling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bestilling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvtaltLevering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvtaltLevering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProduktMotatt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProduktMotatt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvtaltFerdigstillelse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvtaltFerdigstillelse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceFerdig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceFerdig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntallTimer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntallTimer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrdreNr" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbake til listen</a>
    </form>
</div>
</body>