@model Nøsted.Models.OrdreViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>

    <hr />
    <table class="table">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>OrdreNr</td>
            <td>@Html.DisplayFor(model => model.OrdreNr)</td>
        </tr>
        <tr>
            <td>Navn</td>
            <td>@Html.DisplayFor(model => model.Navn)</td>
        </tr>
        <tr>
            <td>TelefonNr</td>
            <td>@Html.DisplayFor(model => model.TelefonNr)</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>@Html.DisplayFor(model => model.Adresse)</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@Html.DisplayFor(model => model.Type)</td>
        </tr>
        <tr>
            <td>Gjelder</td>
            <td>@Html.DisplayFor(model => model.Gjelder)</td>
        </tr>
        <tr>
            <td>Epost</td>
            <td>@Html.DisplayFor(model => model.Epost)</td>
        </tr>
        <tr>
            <td>Uke</td>
            <td>@Html.DisplayFor(model => model.Uke)</td>
        </tr>
        <tr>
            <td>Registrert</td>
            <td>@Html.DisplayFor(model => model.Registrert)</td>
        </tr>
        <tr>
            <td>Bestilling</td>
            <td>@Html.DisplayFor(model => model.Bestilling)</td>
        </tr>
        <tr>
            <td>Avtalt Levering</td>
            <td>@Html.DisplayFor(model => model.AvtaltLevering)</td>
        </tr>
        <tr>
            <td>Produkt motatt</td>
            <td>@Html.DisplayFor(model => model.ProduktMotatt)</td>
        </tr>
        <tr>
            <td>Avtalt ferdigstillelse</td>
            <td>@Html.DisplayFor(model => model.AvtaltFerdigstillelse)</td>
        </tr>
        <tr>
            <td>Service ferdig</td>
            <td>@Html.DisplayFor(model => model.ServiceFerdig)</td>
        </tr>
        <tr>
            <td>Antall timer</td>
            <td>@Html.DisplayFor(model => model.AntallTimer)</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>@Html.DisplayFor(model => model.status)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdreNr">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Create" asp-controller="Sjekkliste" asp-route-orderId="@Model.OrdreNr">Sjekkliste</a>
</div>
