@model Nøsted.Models.OrdreViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdreViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gjelder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gjelder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Epost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Epost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdreNr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
