@model Nøsted.Models.OrdreCompletionViewModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1 class="text-center text-font mt-4 mb-4">Ordre Detaljer</h1>
<body class="justify-content-center text-font">
<div class="text-center">
    <hr />
    <table class="table">
        <tr>
            <th>OrdreNr</th>
            <td>@Model.Ordre.OrdreNr</td>
        </tr>
        <tr>
            <th>Navn</th>
            <td>@Model.Ordre.Navn</td>
        </tr>
        <tr>
            <th>TelefonNr</th>
            <td>@Model.Ordre.TelefonNr</td>
        </tr>
        <tr>
            <th>Epost</th>
            <td>@Model.Ordre.Epost</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>@Model.Ordre.Type</td>
        </tr>
        <tr>
            <th>Gjelder</th>
            <td>@Model.Ordre.Gjelder</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>@Model.Ordre.Adresse</td>
        </tr>
        <tr>
            <th>Uke</th>
            <td>@Model.Ordre.Uke</td>
        </tr>
        <tr>
            <th>Registrert</th>
            <td>@Model.Ordre.Registrert?</td>
        </tr>
        <tr>
            <th>Bestilling</th>
            <td>@Model.Ordre.Bestilling</td>
        </tr>
        <tr>
            <th>Avtalt Levering</th>
            <td>@Model.Ordre.AvtaltLevering?</td>
        </tr>
        <tr>
            <th>Produkt Mottatt</th>
            <td>@Model.Ordre.ProduktMotatt?</td>
        </tr>
        <tr>
            <th>Avtalt Ferdigstillelse</th>
            <td>@Model.Ordre.AvtaltFerdigstillelse?</td>
        </tr>
        <tr>
            <th>Service Ferdig</th>
            <td>@Model.Ordre.ServiceFerdig?</td>
        </tr>
        <tr>
            <th>Antall Timer</th>
            <td>@Model.Ordre.AntallTimer</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" 
                         style="width: @Model.CompletionPercentage%;" 
                         aria-valuenow="@Model.CompletionPercentage" 
                         aria-valuemin="0" 
                         aria-valuemax="100">
                        @Model.CompletionPercentage% Complete
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-Id="@Model.Ordre.OrdreNr" class="btn btn-warning">Endre</a> |
    <a asp-action="Index" class="btn btn-danger">Tilbake til listen</a> |
    <a asp-action="Create" asp-controller="Sjekkliste" asp-route-orderId="@Model.Ordre.OrdreNr" class="btn btn-primary">Sjekkliste</a>
</div>
</body>
