@model IEnumerable<Nøsted.Models.OrdreCompletionViewModel>

@{
    ViewData["Title"] = "Ordre oversikt";
}

<h1 class="text-font">Ordre oversikt</h1>

<a class="btn knapp" asp-action="Create">Opprett ny ordre</a>

<table class=" text-font table table-hover">
    <thead>
        <tr>
            <th>OrdreNr</th>
            <th>Navn</th>
            <th>Uke</th>
            <th>Status</th>
            <th class="text-center">Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Ordre.OrdreNr</td>
                <td>@item.Ordre.Navn</td>
                <td>@item.Ordre.Uke</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @item.CompletionPercentage%;" aria-valuenow="@item.CompletionPercentage" aria-valuemin="0" aria-valuemax="100">@item.CompletionPercentage% </div>
                    </div>
                </td>
                <td class="text-center">
                    <a asp-action="Edit" class="knapp btn" asp-route-id="@item.Ordre.OrdreNr">Endre</a> |
                    <a asp-action="Details" class="knapp-details btn" asp-route-id="@item.Ordre.OrdreNr">Detaljer</a> |
                    <a asp-action="Delete" class="knapp-delete btn" asp-route-id="@item.Ordre.OrdreNr">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>
