@model IEnumerable<Nøsted.Models.OrdreViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
         <th>
                        @Html.DisplayNameFor(model => model.OrdreNr)
                    </th>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gjelder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epost)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.OrdreNr)
        </td>          
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gjelder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epost)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.OrdreNr">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.OrdreNr">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.OrdreNr">Delete</a>
            <a asp-controller="ArbeidsDokument"asp-action="Details" asp-route-id="@item.OrdreNr">ArbeidsDokument</a>
        </td>
    </tr>
}
    </tbody>
</table>
