@using Microsoft.CodeAnalysis.Elfie.Model.Map
@model CreateSjekklisteSjekkpunktViewModel

<!-- Your other form elements -->

@*<div class="form-group">
    <label for="sjekkpunktId">Sjekkpunkt:</label>
    @if (Model.Sjekkpunkter != null)
    {
        <select asp-for="sjekklisteSjekkpunkt.sjekkpunkt.SjekkpunktID" asp-items="@(new SelectList(Model.Sjekkpunkter, "SjekkpunktId", "SjekkpunktNavn"))" class="form-control"></select>
    }
    else
    {
        <p>No Sjekkpunkter available.</p>
    }
</div>*@
<a asp-action="Create" asp-route-orderId="@Model.SjekklisteId">Create Checklist</a>


<form  >
<div class="form-group">
    <label for="SjekklisteId">Sjekkliste ID:</label>
    <input asp-for="SjekklisteId" class="form-control" readonly />
</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Sjekkpunkter</th>
            <th scope="col">Ok</th>
            <th scope="col">Bør Skiftes</th>
            <th scope="col">Defekt</th>
                               

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Sjekkpunkter)
        {
            <tr>
                <td>@item.KategoriID</td>
                <td>@item.SjekkpunktNavn</td>
                <td>
                    <input type="radio" name="statusRadio_@item.SjekkpunktID" value="Ok" />
                </td>
                
                <td>
                    <input type="radio" name="statusRadio_@item.SjekkpunktID." value="Bør Skiftes" />
                </td>
                
                <td>
                    <input type="radio" name="statusRadio_@item.SjekkpunktID" value="Defekt" />
                </td>
                
            </tr>
        }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    @Html.ValidationSummary()
    </form>