@model CreateSjekklisteSjekkpunktViewModel

@{
    ViewData["Title"] = "Create Checklist";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SjekklisteId)

    <table class="table">
        <thead>
            <tr>
                <th>Sjekkpunkt</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.SjekkpunkterWithStatus.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.SjekkpunkterWithStatus[i].Sjekkpunkt.SjekkpunktNavn)
                        @Html.HiddenFor(model => model.SjekkpunkterWithStatus[i].Sjekkpunkt.SjekkpunktID)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.SjekkpunkterWithStatus[i].Status, new SelectList(new List<string> { "OK", "Bør skiftes", "Defekt" }), new { @class = "form-control" })
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Save Checklist</button>
</form>
