@model CreateSjekklisteSjekkpunktViewModel

@{
    ViewData["Title"] = "Sjekkliste detaljer";
}

<h2>@ViewData["Title"]</h2>

<style>
   .radio {
           transform: scale(1.5); /* Increase the size of radio buttons */
           margin: 5px; /* Add some margin around the buttons */
           vertical-align: middle;
       }
    
</style>

<table class="table table-hover " >
    <thead>
    <tr>
        <th>Sjekkpunkt</th>
        <th>OK</th>
        <th class="text-center">Bør skiftes</th>
        <th class="text-center">Defekt</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.SjekkpunkterWithStatus.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => model.SjekkpunkterWithStatus[i].Sjekkpunkt.SjekkpunktNavn)
            </td>
            <td >
                <input type="radio" name="status_@i" id="status_ok_@i"  @(Model.SjekkpunkterWithStatus[i].Status == "OK" ? "checked" : "") class="radio" />
            </td>
            <td class="text-center" >
                <input type="radio" name="status_@i" id="status_borskiftes_@i"  @(Model.SjekkpunkterWithStatus[i].Status == "Bør skiftes" ? "checked" : "") class="radio" />
            </td>
            <td class="align-middle text-center">
                <input type="radio" name="status_@i" id="status_defekt_@i" @(Model.SjekkpunkterWithStatus[i].Status == "Defekt" ? "checked" : "") class="radio" />
            </td>
        </tr>
    }
    </tbody>
</table>


<a asp-action="Delete" asp-route-id="@Model.SjekklisteId" class="btn btn-danger">Delete</a> 
<a asp-action="Edit" asp-route-sjekklisteId="@Model.SjekklisteId" class="btn btn-warning">Edit</a>
