@model IEnumerable<UserRoleViewModel>


@{
    ViewBag.Title = "ListUsers";
}

<html>
<body class="text-font">
<h1>Brukere</h1>

<a asp-page="/Account/Register"
   asp-area="Identity" class="btn btn-primary mb-3" style="width: auto">
    Add new user
</a>
<form asp-action="ListUsers" method="get">
    <input type="text" name="searchQuery" />
    <button type="submit">Search</button>

<table class="table table-hover">
    <tr>
        <th>BrukerNavn</th>
        <th>Email</th>
        <th>Rolle</th>
        <th>Handlinger</th> <!-- Added a header for actions -->
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.CurrentRole</td> <!-- Display the current role -->
            <td>
                <a asp-action="EditUserRoles" asp-route-userId="@user.UserId" class="btn btn-warning mr-2">Endre</a>
                <form asp-action="Delete" asp-route-id="@user.UserId" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                </form>
            </td>

        </tr>
    }
</table></form>
</body>
</html>