@model IEnumerable<UserRoleViewModel>

@{
    ViewBag.Title = "ListUsers";
}



<body class="text-font text-center">
<h1>Brukere</h1>

<a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary mb-3" style="width: auto">
    Legg til bruker
</a>

<form asp-action="ListUsers" method="get" class="search-container">
    <input type="text" name="searchTerm" value="@Context.Request.Query["searchTerm"]" placeholder="Search users..." />
    <button type="submit">Search</button>
</form>
<table class="table table-hover">
    <tr>
        <th>BrukerNavn</th>
        <th>Email</th>
        <th>Rolle</th>
        <th>Handlinger</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.CurrentRole</td>
            <td>
                @if (user.CurrentRole != "Admin")  // Replace "admin" with the actual admin identifier
                {
                    <a asp-action="EditUserRoles" asp-route-userId="@user.UserId" class="btn btn-warning">Endre</a>
                    <form asp-action="Delete" asp-route-id="@user.UserId" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker på at du vil slette brukeren?');">Slett</button>
                    </form>

                }
            </td>
            
        </tr>
    }
</table>
</body>
